<div class="wrap">
    <div class="btn-group-vertical" style="padding:3px;width:135%;margin-left:-18%;">
        <button id="PlanInputBtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="text-align:left;"></span>PlanInput

        </button>
        <button id="ConfirmationBtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Confirmation
        </button>
        <button id="ReportBtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Reports
        </button>
        @*<button id="LogisticConfirmationBtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Logistic Confirmation
        </button>*@
    </div>
    <div class="imgsrc">
        <img src="~/Images/capacitorimage.png"
             style="max-height:100%;max-width:100%;padding:3px;margin:30px 0px 0px 0px" />
    </div>
</div>