@section menu{
    @Html.Partial("Menu")
}

@section scripts{

}

<div class="container">
    <div class="row" style="margin-top:2%;">
        <div class="col-md-3">
            <div class="col-md-offset-2">
                <button id="ProductionButton" class="btn btn-info btn-lg ">
                    Production
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-offset-0" style="margin-left:-4%">
                <button id="QualityButton" class="btn btn-info btn-lg ">
                    Quality
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-offset-0" style="margin-left:-24%">
                <button id="LogisticsButton" class="btn btn-info btn-lg ">
                    Logistics
                </button>
            </div>
        </div>
    </div>
</div>