@section menu{
    @Html.Partial("Menu")
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ConfirmationTab').jqxTabs({ width: '80%', height: 200, position: 'top' });

        });
    </script>
}
<div id="ContentDiv" class="roundedDiv container-fluid"
     style="border:green medium solid;border-width:2px;">
    <div class="container">
        <div id='confirmwidget'>
            <div id='ConfirmationTab' style="margin-left:-0.95%">
                <ul>
                    <li style="margin-left: 30px;">Production</li>
                    <li>Quality</li>
                    <li>Logistics</li>
                </ul>

                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>